@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body{
    /* background-image: url("https://besthqwallpapers.com/Uploads/7-12-2019/114874/thumb2-black-and-purple-abstraction-pink-lines-background-retro-pink-background-creative-backgrounds.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    background: rgb(175,64,112);
    background: radial-gradient(circle, rgba(175,64,112,1) 5%, rgba(0,0,0,1) 100%);
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5rem;
}   

/* .song-individual{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 7%, rgba(0,0,0,1) 35%, rgba(103,90,100,1) 86%);
} */
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
